.ajax-tour-files .ajax-tour-file{
	float:left;
	padding:5px;
}

.ajax-tour-image{
	float: left;
	height: 290px;
	width: 400px;
}

.flowplayer{
	float:left;
	height:290px !important;
	width:400px !important;
}

.ajax-remove{
	text-align: center;
}

.preview-image img{
	height:270px;
	width:400px;
}


.tours-ajax-remove-wrapper{
	padding:10px;
}

#tour-ajax-replace-files{
	width:100% !important;
	float:left;
}

.tours-ajax-remove-wrapper{
	border: 1px solid #333;
	background: #eaeaea;
}


